# This is an example .env file for the project.
# It is used to store the environment variables for the project.
# It is not used in the project, but it is a good idea to have it.
# It is used to store the environment variables for the project.
GENERATE_SOURCEMAP=false
DISABLE_ESLINT_PLUGIN=true